@import url('https://use.typekit.net/eqk2gym.css');
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Urbane-Rounded';
    font-weight: 600;
}

header{
    height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* margin: 10px 0 0 0; */
}
nav{
    margin-top: 10px;
    margin-left: 30rem;
}

a{
    
    font-size: 40px;;
    color: #32CD32;
}
.link{
    font-size: 20px;
    padding: 10px;
}
.menuhamburguer{
	font-size:40px;
	display:none;
}
#hamburguer{
	display:none;
}


@media(max-width:425px){
    .menuhamburguer{
    
    display:block;
}
label{
    color: green;
}
a{
    display:none;
}
}
.h1__title{
    padding: 5px;
    font-size:30px;
}

.p-amigão{
    margin-left:30px;
    display: flex;
}
.section__wappaper{
    width: 100%;
    height: 100vh;
    background-image: url(assets/dog.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; 
}
.section__wappaper::after{
    content:"";
    height:100vh;
    width: 100%;
    position: absolute;
    top:0;
    opacity: 0.42;
    background-color: #00B77A;
    z-index: 0;
}
.divimglogo{
    position:absolute;
    display: flex;
    padding: 13px;
    flex-direction: column;
    

}
.imglogo{
  padding: 10px;
  z-index: 1;
 
}
.div__linha{
    height: 100px;
    border-left: 2px solid;
    color: #FFFFFF;
    position: absolute;
    top: 212px;
    left: 35px;
    z-index: 1;
}
.texto__email{
    transform: rotate(270deg);
    position: absolute;
    top: 24rem;
    left: -2rem;
    color: #FFFFFF;
    z-index: 1;
}
.blockcontatos{
    display: flex;
    flex-direction: column;
}
.block__title{
    text-align: center;
  
}
.title{
    text-align: center;
    font-size:80px;
    position:absolute;
    color: #FFFFFF;
    z-index: 1;
    left: 17rem
}
.texto{
    width: 35vw;
    position:absolute;
    padding-bottom: 10px;
    text-align: center;
    color:white;
    left: 25rem;
    top: 10rem ;
    z-index: 1;
    
}
.divbuttons{
    padding: 10px;
    display: flex;
    position: absolute;;
    margin-left: 200px;
    justify-content: center;
}
.button1{
    background-color: #00CA88;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    left: 22rem;
    top: 15rem;
    padding: 16px;
    height: 50px;
    position: absolute;
    margin: 0 20px;
    z-index: 1;
}
.button2{
    background-color: #fff;
    color: #00CA88;
    position: absolute;
    border: none;
    left: 34rem;
    top: 15rem;
    border-radius: 20px;
    font-size: 18px;
    width: 250px;
    height: 50px;
    z-index: 1;
    
}
.container__sobre {
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 100vh;
}
/* @media (max-width: 1024px){
    .sobre-block {
        width: 85rem;
        margin: 50px;
    }
}
@media (max-width: 768px){
    .sobre-block {
        width: 80rem;
        height: 50rem;
    }
} */

.title__sobre {
    font-size: 64px;
    color: #00CA88;
    margin-top: 25px;
}
/* @media (max-width: 768px){
    .sobre-title {
        font-size: 50px;
        margin-top: 0;
    }
} */

.text__sobre {
    width: 450px;
    color: #575757;
    margin-top: 25px;
}
/* @media (max-width: 768px){
    .sobre-paragraph {
        font-size: 21px;
    }
} */

.input__sobre {
    margin-top: 35px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    width: 293px;
    height: 50px;
    padding: 9px;
    color: #fff;
    background-color: #00CA88;
}

.img__sobre__dog {
    position: absolute;
    z-index: 1;
    margin: 100px 0 0 -33px;
}
.img__circulo {
    position: relative;
    top: -5rem;
    right: -15rem;
}
.imgsobre__circulomedio {
    position: relative;
    left: 10rem;
    bottom: -20rem;
}

.img__circulomenor {
    position: relative;
    bottom: -22rem;
    left: -15rem;
}
/* @media (max-width: 768px){
    .sobre-img-circulo-bottom {
        bottom: -19rem;
        left: 15rem;
    }
} */

.div__dog {
    width: 45%;
}

.block__Adote{
    height:45rem;
    margin: 100px 0 0 0;
    background-color:#00CA88;
}
.luna{
    width: 135px;
    height: 54px;
    position: absolute;
    left: 5rem;
    /* display: none; */
    margin-top: 61px;
    /* display: flex;
    justify-content: center; */
    border: 3px solid #00CA88;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 35px;
    z-index: 0;
}
.text__adotar{
    font-size: 15px;
    font-size: 20px;
    color: #00CA88; ;
    left: 4rem;
    z-index: 1;
    position: absolute;
}
.imgdog__adotar{
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    /* background: rgb(248, 248, 248) 0% 0% no-repeat padding-box; */
    border-radius: 10px;
 
    z-index: 1;
}
.divcircle{
    margin-left: 6rem;
    display: flex;
    justify-content:space-between ;
}
.divcircle2{
    width: -16rem;
    display: flex;
}
.imgdog__adotar:hover{
    cursor: pointer;
    /* transform:scale(1.5); */
    opacity: 0.2;   
    /* -webkit-transform: scale(1.2); */
    /* -ms-transform: scale(1.2); */
    color:white;
    background-color: black;
}
.imgdog2{
    position: relative;
    width:200px;
    height: 200px;
    left: -2rem;
}
.imgdog3{
    position: relative;
    width:200px;
    height: 200px;
    left: -1rem;
}
.imgdog4{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.divimgdog{
    width:fit-content;
    height: 200px;
    /* background: none; */
    display: flex;
    justify-content: space-around;
    background-color:#FFFFFF;
    z-index: 1; 
    border-radius: 10px;
}
.divdogs{
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
}
.title__adote{

    font-size: 50px;
    color: white;
}

.blocotexto{
    height: 30px;
    width: 265px;
    margin-right: 2rem;
    margin-top: 4rem;
    font-size: 11px;
}
.p__text{
    width: 336px;
    margin-top: 2rem;
    font-size: 14px;
    color: white;
}
.circle1{
    width: 100px;
}
.circle2{
    width:270px;
}
.divbordar{
    position: absolute;
    width: 188px;
    height: 194px;
    left: 5rem;
    border: solid 2px white;
    /* background: none; */
    margin-top: 19px;
    /* top: -82rem; */
    border-radius: 10px;
}
.divbordar2{
    position: absolute;
    width: 194px;
    height: 194px;
    left: 27rem;
    border: solid 2px white;
    /* background: none; */
    margin-top: 19px;
    /* top: -82rem; */
    border-radius: 10px;
}

.divborda3{
    position: absolute;
    width: 188px;
    height: 194px;
    left: 47rem;
    border: solid 2px white;
    /* background: none; */
    margin-top: 19px;
    /* top: -82rem; */
    border-radius: 10px;

}
.divbordar4{
    position: absolute;
    width: 194px;
    height: 194px;
    left: 66rem;
    border: solid 2px white;
    /* background: none; */
    margin-top: 19px;
    /* top: -82rem; */
    border-radius: 10px;

}
.divbordas{
    display: flex;
    justify-content: space-around;
}
.divnomes{
    margin-top: 2rem;
    color:white;
    display: flex;
    justify-content: space-around;
    
}
.p-nameDuque{
    margin-left: 4rem;
}
.divIdades{
    margin-top: 1rem;
    color:white;
    display: flex;
    justify-content: space-around;
}
.idduque{
    margin-left: 5rem;
}
footer{
    display: flex;
    justify-content: space-between;
}
.secfooter{
    display: flex;
    /* justify-content: space-around; */
}
.divamigaofooter{
    
}
.divimgfooter{
    margin: 10px;
    width: 17rem;
    text-align: left;
    margin-left:17rem;
    margin-bottom: 3rem;
    /* display: flex; */
    justify-content: space-around;
}
.divtextfooter{
    /* display: flex; */
    flex-direction: column;
}
.p-footer{
    margin: 20px;
}
.divcontat{
    padding: 10px;
    color: #00CA88

}
.divp{
    margin-right: 20px;
    color: #00CA88;
}